<!DOCTYPE html>
<html lang="pl-PL" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
  <meta charset="utf-8"/>
  <title>DODAJ PARTNERA</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"/>
</head>
<body style="max-width: 400px; margin: 0 auto;">
<br/>
<h2>DODAJ PARTNERA</h2>
<br/>
<br/>
<div th:if="${param.error}">
  NIEUDANE DODANIE PARTNERA!
</div>
<form th:action="@{'/addPartnerAccount/' + ${idAccount}}" th:object="${usersDto}" method="post" style="max-width: 400px; margin: 0 auto;" >
  <div><label> NAZWA UZYTKOWNIKA:<br/><input type="text" th:field="*{username}" autofocus required /> </label></div>
  <div><input type="submit" value="DODAJ"/></div>
</form>
<br/>
<br/>
<br/>

<!-- MEMBERSHIP -->
<form th:action="@{'/membership/' + ${idAccount}}" method="post">
  <input type="submit" value="WROC_DO_CZLONKOWIE"/>
</form>
<br/>

<!-- PERSONAL -->
<form th:action="@{'/personal/' + ${idAccount}}" method="post">
  <input type="submit" value="WROC_DO_KONTA"/>
</form>
<br/>

<!-- MAIN -->
<form th:action="@{/main}" method="post">
  <input type="submit" value="WROC_DO_MAIN"/>
</form>
<br/>

<!-- LOGOUT -->
<br/>
<form th:action="@{/logout}" method="post">
  <input type="submit" value="WYLOGUJ"/>
</form>

</body>
</html>