<!DOCTYPE html>
<html lang="pl-PL" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
  <meta charset="UTF-8"/>
  <title>AUTODYSPOZYCJE</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"/>
</head>
<body style="max-width: 400px; margin: 0 auto;">
<br/>
<h2><span th:text="${accountType}">NO_DATA</span>:<br/>AUTODYSPOZYCJE</h2>
<br/>
<br/>
JESTES ZALOGOWANA/Y JAKO:<br/>[[${#httpServletRequest.remoteUser}]]<br/>
<br/>
ROLA: <div th:text="${userRole}">NO_DATA</div>
<br/>
<br/>
<div>AUTODYSPOZYCJE:<br/>
  SALDO PLN: <div th:text="${strSaldoAutoDispositionPLN}">NO_DATA</div><br/>
  SALDO microSASINY: <div th:text="${strSaldoAutoDispositionMikroSasin}">NO_DATA</div><br/>
  <div th:unless="${listAutoDispositions.isEmpty()}">
    <table border="1" cellpadding="10">
      <thead>
        <tr>
          <th>WARTOSC</th>
          <th>CZAS</th>
          <th>OPIS</th>
          <th>ID KONTA</th>
          <th>UZYTKOWNIK</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="listElement : ${listAutoDispositions}">
          <td th:text="${#numbers.formatDecimal(listElement.getValue(), 1, 'WHITESPACE', 2, 'POINT')}">NO_DATA</td>
          <td th:text="${listElement.getTime()}">NO_DATA</td>
          <td th:text="${listElement.getDescription()}">NO_DATA</td>
          <td th:text="${listElement.getIdAccount()}">NO_DATA</td>
          <td th:text="${listElement.getUsername()}">NO_DATA</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div th:if="${listAutoDispositions.isEmpty()}">
    (LIST EMPTY => NO TABLE TO PRINT)
  </div>
</div>
<br/>
<br/>
<br/>

<!-- PERSONAL -->
<form th:action="@{'/personal/' + ${idAccount}}" method="post">
  <input type="submit" value="WROC_DO_KONTA"/>
</form>
<br/>

<!-- MAIN -->
<form th:action="@{/main}" method="post">
  <input type="submit" value="WROC_DO_MAIN"/>
</form>
<br/>

<!-- LOGOUT -->
<br/>
<form th:action="@{/logout}" method="post">
  <input type="submit" value="WYLOGUJ"/>
</form>

</body>
</html>