<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">

	<head>
		<title>LOGOWANIE</title>
	</head>
	
	<!-- ====================== -->
	
	<body>
		<h1>LOGOWANIE</h1>
		<div th:if="${param.error}">
			Niepoprawny username lub password.
		</div>
		<!-- ======================
		<div th:if="${param.logout}">
			Jestes wylogowany.
		</div>
		====================== -->
		Zaloguj sie:
		<form th:action="@{/home}" method="post">
		<!-- <form th:action="@{/login.html}" method="post"> -->
			<label th:text="#{label.user.username}">Username:</label><br/>
			<input th:field="*{username}" autofocus="autofocus" />
			<p th:each="error: ${#fields.errors('fusername')}" th:text="${error}">Validation error</p>
			
			<label th:text="#{label.user.password}">Password:</label><br/>
			<input type="password" th:field="*{password}"/>
			<p th:each="error : ${#fields.errors('password')}" th:text="${error}">Validation error</p>
			<input type="submit" value="Zaloguj"/>
		</form>
		
		<div><a th:href="@{/register}">Rejestracja</a></div>
		
	</body>

</html>

<!--

[IF LOGGED IN: GO TO MAIN]
@GetMapping("/register")
public String register()
{
	return "redirect:/";
}

-->