<!DOCTYPE html>
<html lang="pl-PL" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
  <meta charset="UTF-8"/>
  <title>MAIN</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"/>
</head>
<body style="max-width: 400px; margin: 0 auto;">
<br/>
<h2>MAIN</h2>
<br/>
JESTES ZALOGOWANA/Y JAKO:<br/>[[${#httpServletRequest.remoteUser}]]<br/>
<br/>
<br/>

<div th:unless="${listCurrentUserPermissions.isEmpty()}">
  MASZ DOSTEP DO NASTEPUJACYCH KONT:
  <table border="1" cellpadding="10">
    <thead>
    <tr>
      <th>TYP KONTA</th>
      <th>ID KONTA</th>
      <th>AKCJA</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="permission : ${listCurrentUserPermissions}">
      <td th:text="${permission.getAccount().accountType}">NO_DATA</td>
      <td th:text="${permission.getAccount().getIdAccounts()}">NO_DATA</td>
      <td><a th:href="@{'/personal/'+${permission.getAccount().getIdAccounts()}}">OTWORZ</a></td>
    </tr>
    </tbody>
  </table>
</div>
<div th:if="${listCurrentUserPermissions.isEmpty()}">(LIST EMPTY => NO TABLE TO PRINT)</div>
<br/>
<br/>
<!-- UTWORZ NOWY RACHUNEK -->
<div th:unless="${listAccountsToCreate.isEmpty()}">
  MOZESZ UTWORZYC NASTEPUJACE KONTA:
  <table border="1" cellpadding="10">
    <thead>
    <tr>
      <th>TYP KONTA</th>
      <th>AKCJA</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="accountTypeToCreate : ${listAccountsToCreate}">
      <td th:text="${accountTypeToCreate}">NO_DATA</td>
      <td><a th:href="@{'/utworz/'+${accountTypeToCreate}}">UTWORZ</a></td>
    </tr>
    </tbody>
  </table>
</div>
<div th:if="${listAccountsToCreate.isEmpty()}">(LIST EMPTY => NO TABLE TO PRINT)</div>
<br />
<br />
<!-- LOGOUT -->
<form th:action="@{/logout}" method="post">
  <input type="submit" value="WYLOGUJ"/>
</form>
<br />
<br />
<!-- EDIT USER DATA -->
<a th:href="@{/edit_user_data}">USTAWIENIA</a>
</body>
</html>