<!DOCTYPE html>
<html lang="pl-PL" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
  <meta charset="UTF-8">
  <title>MAIN</title>
</head>
<body>
<h1>MAIN</h1>
<br/>
JESTES ZALOGOWANA/Y JAKO [[${#httpServletRequest.remoteUser}]].<br>
<br/>
<br/>
<div>MASZ DOSTEP DO NASTEPUJACYCH KONT:
  <table border="1" cellpadding="10">
    <thead>
    <tr>
      <th>TYP KONTA</th>
      <th>ID KONTA</th>
      <th>AKCJA</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="permission : ${listCurrentUserPermissions}">
      <td th:text="${permission.getAccount().accountType}"></td>
      <td th:text="${permission.getAccount().getIdAccounts()}"></td>
      <td><a th:href="@{/personal+${permission.getAccount().getIdAccounts()}}">OTWORZ</a></td>
    </tr>
    </tbody>
  </table>
</div>
<br />
<br />
<!-- UTWORZ NOWY RACHUNEK -->
<div>MOZESZ UTWORZYC NASTEPUJACE KONTA:
  <table border="1" cellpadding="10">
    <thead>
    <tr>
      <th>TYP KONTA</th><th>AKCJA</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="accountTypeToCreate : ${listAccountsToCreate}">
      <td th:text="${accountTypeToCreate}"></td>
      <td><a th:href="@{'/utworz/'+${accountTypeToCreate}}">UTWORZ</a></td>
    </tr>
    </tbody>
  </table>
</div>
<br />
<br />
<!-- LOGOUT -->
<form th:action="@{/logout}" method="post">
  <input type="submit" value="WYLOGUJ"/>
</form>
<br />
<br />
<!-- EDIT USER DATA -->
<a th:href="@{edit_user_Data}">Ustawienia</a>
</body>
</html>