<!DOCTYPE html>
<html lang="pl-PL" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
  <meta charset="UTF-8"/>
  <title th:text="${accountType}">NO_DATA</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"/>
</head>
<body style="max-width: 400px; margin: 0 auto;">
<br/>
<h2 th:text="${accountType}">NO_DATA</h2>
<br/>
<br/>
<br/>
<div>MIESIĄCE:<br/>

  <div th:unless="${listAutoDispositions.isEmpty()}"><table border="1" cellpadding="10">
    <thead>
    <tr>
      <th>MIESIĄC</th>
      <th>SALDO / zł</th>
      <th>SALDO / mikroSasin</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="listElement : ${listAutoDispositions}">
      <td>
          <a th:href="@{'/history/' + ${listElement.getMonth()} + '/idAcc/' + ${idAccount}}">
            <span th:text="${listElement.getMonth()}">NO_DATA</span>
          </a>
      </td>
      <td th:text="${#numbers.formatDecimal(listElement.getValuePLN(), 0, 'WHITESPACE', 2, 'POINT')}">NO_DATA</td>
      <td th:text="${#numbers.formatDecimal(listElement.getValueMikroSasin(), 0, 'WHITESPACE', 2, 'POINT')}">NO_DATA</td>
    </tr>
    </tbody>
  </table></div>
  <div th:if="${listAutoDispositions.isEmpty()}">(LIST EMPTY => NO TABLE TO PRINT)</div>
</div>
<br/>
<br/>
<br/>

<!-- PERSONAL -->
<form th:action="@{'/personal/' + ${idAccount}}" method="post">
  <input type="submit" value="WROC_DO_KONTA"/>
</form>
<br/>

<!-- MAIN -->
<form th:action="@{/main}" method="post">
  <input type="submit" value="WROC_DO_MAIN"/>
</form>
<br/>

<!-- LOGOUT -->
<br/>
<form th:action="@{/logout}" method="post">
  <input type="submit" value="WYLOGUJ"/>
</form>

</body>
</html>