<!DOCTYPE html>
<html lang="pl-PL" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
  <meta charset="UTF-8"/>
  <title th:text="${accountType}">NO_DATA</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"/>
</head>
<body style="max-width: 400px; margin: 0 auto;">
<br/>
<h2 th:text="${accountType}">NO_DATA</h2>
<br/>
JESTES ZALOGOWANA/Y JAKO:<br/>[[${#httpServletRequest.remoteUser}]]<br/>
<br/>
ROLA: <div th:text="${userRole}">NO_DATA</div>
<br/>
<br/>

<div>SALDA NA BIEŻĄCY MIESIĄC:<br/>
  <table border="1" cellpadding="10">
    <thead>
    <tr>
      <th>TABELA</th>
      <th>SALDO / PLN</th>
      <th>SALDO / MIKROSASIN</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="listElement, it : ${salda}">
      <td th:text="${listElement.getTableName()}">NO_DATA</td>
      <td th:text="${#numbers.formatDecimal(listElement.getValuePLN(), 1, 'WHITESPACE', 2, 'POINT')}">NO_DATA</td>
      <td th:text="${#numbers.formatDecimal(listElement.getValueMikroSasin(), 1, 'WHITESPACE', 2, 'POINT')}">NO_DATA</td>
    </tr>
    </tbody>
  </table>
  </div>

<br/>
<!-- LOGOUT -->
<form th:action="@{/logout}" method="post">
  <input type="submit" value="WYLOGUJ"/>
</form>
<br/>

<!-- ACTION!!! -->
<form th:action="@{'/current_transactions/' + ${idAccount}}" method="post">
  <input type="submit" value="BIEZACE_TRANSAKCJE"/>
</form>
<br/>

<!-- ACTION!!! -->
<form th:action="@{'/months/' + ${idAccount}}" method="post">
  <input type="submit" value="HISTORIA"/>
</form>
<br/>

<!-- ACTION!!! -->
<form th:action="@{'/cyclic_transactions/' + ${idAccount}}" method="post">
  <input type="submit" value="STALE_TRANSAKCJE"/>
</form>
<br/>

<!-- ACTION!!! -->
<form th:action="@{'/membership/' + ${idAccount}}" method="post">
  <input type="submit" value="CZLONKOWIE"/>
</form>
<br/>

<a th:href="@{/main}">WROC_DO_MAIN</a>

</body>
</html>